
.card {
  box-shadow: 0px 0px transparent;
  color: red;
}

.card .pan {
  color: #d9d9d9;
}

.card .pan .copy-icon {
  color: #d9d9d9;
}

.card .name {
  font-family: 'HarmonyOS Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 10.7508px;
  line-height: 13px;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  /* Primary/ARRAKIS Silver */

  color: #D9D9D9;

  opacity: 0.7;
}

.card .expiration-date {
  font-family: 'HarmonyOS Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 10.7508px;
  line-height: 13px;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  /* Primary/ARRAKIS Silver */

  color: #D9D9D9;

  opacity: 0.7;}

.card .security-code {
  font-family: 'HarmonyOS Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 10.7508px;
  line-height: 13px;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  /* Primary/ARRAKIS Silver */

  color: #D9D9D9;

  opacity: 0.7;
}

.card .cvv_expiration_time {
  font-family: 'HarmonyOS Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 10.7508px;
  line-height: 13px;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  /* Primary/ARRAKIS Silver */

  color: #D9D9D9;

  opacity: 0.7;
}

.card .pin {
  font-family: 'HarmonyOS Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 10.7508px;
  line-height: 13px;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  /* Primary/ARRAKIS Silver */

  color: #D9D9D9;

  opacity: 0.7;
}
