:root {
    --ok_gray: #d9d9d9; 
}

.card {
  box-shadow: 0px 0px transparent;
}

.card .pan {
  color: var(--ok_gray);
}

.card .pan .copy-icon {
  color: var(--ok_gray);
}

.card .name {
  color: var(--ok_gray);
}

.card .expiration-date {
  color: var(--ok_gray);
}

.card .security-code {
  color: var(--ok_gray);
}

.card .cvv_expiration_time {
  color: var(--ok_gray);
}

.card .pin {
  color: var(--ok_gray);
}
